/* @starting-style not supported by FireFox and Safari 22/10/2023 but I still use them*/

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,400&family=Sedgwick+Ave+Display&display=swap");

/* Global styles */

:root {
  --dark-color: #48402e;
  --medium-color: #92825d;
  --light-color: #d1cab3;
  --orange-color: rgb(217, 122, 28);
  --yellow-color: rgb(227, 208, 80);
  --white-color: #fff;

  --transfluent-background-color: rgba(0, 0, 0, 0.5);

  --sharp-radius: 0;
  --soft-radius: 0.4rem;

  --icon-original-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--light-color);
  text-shadow: 0 5px 5px var(--dark-color);
  font-family: "Merriweather", serif;
}

#root {
  display: flex;
  justify-content: center;
  background-color: var(--dark-color);
  background-image: url("https://source.unsplash.com/eOpewngf68w");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a:hover,
a:focus {
  color: var(--white-color);
  text-shadow: var(--white-color) 0 0 10px;
  transition: all 0.2s ease-in-out;
}

.main-container {
  position: relative;

  width: 100%;
  max-width: 2000px;
  min-height: 100vh;

  padding: 0.5rem;
}

/* ----header-and-nav-bar------------------------------------------------------ */
.header-and-nav-bar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  max-width: 1200px;

  background-color: var(--transfluent-background-color);
  border-radius: var(--soft-radius);
  font-size: 1rem;

  margin: 0;
  padding: 0.5rem;
}

.pre-header {
  max-width: 14rem;
  font-size: 1rem;
}

.header {
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2rem;
  color: white;
}

.header > img {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
}

/* ----nav-bar------------------------------------------------------ */
.nav-bar ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0.5rem 0; /* good when flex:wrap in parent active*/
}

.nav-bar a {
  margin: 0 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-bar a.selected {
  color: var(--orange-color);
  font-weight: 900;
}

/* ----search-bar------------------------------------------------------ */
.search-bar {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
}

.search-bar > * {
  border-radius: var(--sharp-radius);
  border: 1px solid var(--transfluent-background-color);
}

.search-bar input {
  margin: 0 0.15rem;
  padding: 0.45rem;
  border: 1px solid var(--light-color);
  border-radius: var(--sharp-radius);
  font-size: 1rem;
  text-align: center;
  background-color: var(--transfluent-background-color);
  text-shadow: none;
  color: var(--white-color);
  outline: none;
}

.search-bar :hover,
.search-bar :focus {
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid var(--light-color);
  box-shadow: 0 0 10px 0 var(--white-color);
  transition: all 0.2s ease-in-out;
  outline: none;
}

.btn {
  cursor: pointer;
  outline: none;
  padding: 0.5rem 1rem;
  margin: 0.15rem;
  font-size: 0.9rem;
  background-color: var(--transfluent-background-color);
  text-shadow: none;
}

.btn.btn-disabled {
  cursor: not-allowed;
  color: var(--medium-color);
}

.btn.btn-disabled:hover,
.btn.btn-disabled:focus {
  color: var(--medium-color);
  background-color: var(--transfluent-background-color);
  border: 1px solid var(--transfluent-background-color);
  box-shadow: none;
}

.search-bar :first-child {
  border-radius: var(--soft-radius) var(--sharp-radius) var(--sharp-radius)
    var(--soft-radius);
}

.search-bar :last-child {
  border-radius: var(--sharp-radius) var(--soft-radius) var(--soft-radius)
    var(--sharp-radius);
}

.search-bar.sticky {
  /* optional set in setting*/
  position: sticky;
  top: -0.85rem;
}
/* ----GRID-masonri---------------------------------------------------------*/
.grid-container-masonri {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-auto-rows: 13rem;
  align-items: stretch;
  justify-items: stretch;
  gap: 0.5rem;

  min-height: 100vh;
}

/* ---GRID-image-------------------------------------------------------------*/

.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white-color);
  border-radius: var(--soft-radius);
}

.blur-load {
  position: relative;
  background-size: cover;
  background-position: center;
}

.blur-load::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse-loading 2s infinite;
  backdrop-filter: blur(1px);
}

.blur-load.loaded::before {
  content: none;
  animation: none;
}

@keyframes pulse-loading {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.img-container.loaded > img {
  opacity: 1;
}

.img-container > img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: var(--soft-radius);
  object-fit: cover;
  object-position: center;
}

.img-container.tall {
  grid-row: span 2;
}

.img-container.wide {
  grid-column: span 2;
}

/* ----icons-------------------------------------------------------------*/
.img-icons {
  position: absolute;
  right: 0.8em;
  display: none;
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.img-icons.img-top-icons {
  flex-direction: column;
  justify-content: space-between;
  top: 0.5em;
}

.img-icons.img-bottom-icons {
  bottom: 0.5em;
}

.img-icons.show {
  @starting-style {
    opacity: 0;
    transform: scale(0.8);
  }
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.img-icons > svg {
  --size: var(--icon-original-size);
  color: aqua;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  background-color: var(--transfluent-background-color);
  padding: 0.3rem;
  transition-duration: 100ms;
  transition-property: background-color, transform;
  transition-timing-function: ease-in;
}

.img-icons > svg:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.2);
}

.img-top-icons > svg {
  --size: calc(var(--icon-original-size) - 5%);
  border-radius: var(--soft-radius);
  margin-bottom: 0.5rem;
}
.img-bottom-icons > svg {
  border-radius: 50%;
  margin-left: 0.6rem;
}

/* ----image-info------------------------------------------------------ */
.img-info {
  display: none;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  max-width: 70%;
  max-height: 85%;
  overflow-y: auto;
  padding: 0.5rem;
  background-color: var(--transfluent-background-color);
  border: 1px solid var(--white-color);
  border-radius: calc(var(--soft-radius) - 0.2rem) var(--sharp-radius)
    var(--soft-radius) var(--sharp-radius);
  font-size: 0.8rem;
  text-align: center;

  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}

.img-info.show {
  @starting-style {
    opacity: 0;
    transform: translateY(-0.4rem);
  }
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/*---image-Resize--in case the photo moves at different grid place as a result of resizing and grid-auto-flow: dense; property, then is easy to see where it moved */
.img.img-resize-here {
  animation: pulse-resize 2s 5 alternate ease-in-out;
}

@keyframes pulse-resize {
  0% {
    border: 1px solid var(--yellow-color);
  }

  50% {
    border: 10px solid var(--orange-color);
  }

  100% {
    border: 1px solid var(--yellow-color);
  }
}

/* ----modal------------------------------------------------*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal .overlay {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: fixed;
  animation: fade-in 500ms forwards;
}

.modal.closing .overlay {
  animation: fade-in 500ms forwards reverse;
}

@keyframes fade-in {
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.modal .modal-body {
  position: relative;
  min-width: 95%;
  min-height: 95%;
  transform: translateX(-200%);
  animation: pop-in 500ms 500ms forwards;
}

.modal.closing .modal-body {
  animation: pop-in 500ms forwards reverse;
}

@keyframes pop-in {
  100% {
    transform: translateX(0);
    transform: translateY(0);
  }
}

/* modal--extras--------------------------------------- */

.modal-inside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--transfluent-background-color);
  border-radius: calc(var(--soft-radius) * 2);
  border: 0.1rem solid var(--white-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-inside.inside-img {
  max-width: 100%;
  max-height: 100%;
}

.modal-inside.inside-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: auto;
  max-width: 1200px;
  min-height: 80%;
  font-size: 1rem;
  background-blend-mode: darken;
  text-align: center;
  color: var(--white-color);
  text-shadow: none;
}

.modal-inside.inside-container h1 {
  margin: 1rem;
  color: var(--orange-color);
  font-size: 4rem;
  font-family: "Sedgwick Ave Display", cursive;
}

.modal-btn-close {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  outline: none;
  color: var(--white-color);
  background-color: black;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: none;
  padding: 0.2em;
  scale: 1;
  border: 0.1rem solid var(--white-color);
  border-radius: var(--soft-radius);
  transition: all 0.2s ease-in-out;
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  scale: 1.1;
  box-shadow: 0 0 10px 0 var(--white-color);
}

/*----about-&-settings-------------------------------------------------- */

.about-text {
  position: relative;
  align-items: center;
  max-width: 900px;

  max-height: 80%;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--transfluent-background-color);
  border: 1px solid var(--white-color);
  border-radius: var(--soft-radius);
  font-size: 1.3rem;
  overflow-y: auto;
  text-align: start;
  color: var(--white-color);
  text-shadow: none;
}

.about-text > * {
  color: var(--white-color);
  margin: 1rem;
}

/*---footer------------------------------------------------------------- */
.footer > span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  color: var(--orange-color);

  margin: 2rem 0.5rem 0.5rem 0.5rem;
}

/* ----media-queries------------------------------------------------------ */

/* Hide certain elements on smaller screens */
@media (max-width: 880px) {
  .hide-on-small-device {
    display: none;
  }
}

@media (max-width: 630px) {
  .header-and-nav-bar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .search-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "search-bar search-bar"
      "prior  next";
  }

  .search-bar * {
    border: 1px solid var(--light-color);
    margin-left: 0;
    margin-right: 0;
  }

  .search-bar :nth-child(1) {
    grid-area: prior;
    border-right: none;
  }

  .search-bar :nth-child(2) {
    grid-area: search-bar;
    max-width: 15rem;
    justify-self: stretch;
    margin: 0 auto;
    /* border-bottom: none; */
    border-radius: var(--soft-radius);
  }

  .search-bar :nth-child(3) {
    grid-area: next;
    border-left: none;
  }
}
