body {
    height: 200vh;
}



.parent {
    background-color: aqua;
    padding: 20px;
    position: relative;
height: 900px;
}

.child1 {
    position: sticky;
    height: 20px;
    background-color:  brown;
    margin: 20px;
}

.child2 {
    background-color:  rgb(42, 165, 56);
    margin: 20px;
    height: 20px;

}

.child3 {
    background-color:  rgb(50, 42, 165);
    margin: 20px;
    height: 20px;

}
