/*------------------ Flickity carousel--------------------------------- */
.ustories-wrap {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.uStory-title {
  display: inline-block;
  position: relative;
  left: -3rem;
  top: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid var(--orange-color);
  border-radius: var(--soft-radius);
  cursor: pointer;
  z-index: 1;
  scale: 1;
  transform: rotate(-10deg);
}

.uStory-title:hover {
  scale: 1.1;
  transition: all 0.5s linear;
}

.carousel {
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  border: 5px solid var(--medium-color);
  border-radius: var(--soft-radius);
}

.ustory-photo {
  height: 15rem;
}

.uStory-delete-btn {
  display: inline-block;
  position: relative;
  left: 96%;
  top: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  padding: 0 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid var(--orange-color);
  border-radius: var(--soft-radius);
  scale: 1;
  transform: rotate(10deg);
}
.uStory-delete-btn:hover {
  scale: 1.1;
  transition: all 0.5s linear;
  color: red;
  border-color: red;
  z-index: 1;
}
