/*------------------ Flickity carousel--my css------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ustories-wrap {
  position: relative;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.ustory-btn {
  display: inline-block;
  position: relative;
  top: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  border: 3px solid var(--orange-color);
  border-radius: var(--soft-radius);
  cursor: pointer;
  scale: 1;
  transition: all 0.5s linear;
}

.ustory-btn.ustory-title-btn {
  left: -11.3rem;
  z-index: 1;
  transform: rotate(-10deg);
  transition: all 0.5s linear;
}
.ustory-btn.ustory-title-btn.move-away {
  top: 0rem;
  left: -11.1rem;
  transform: rotate(0deg);
  transition: all 0.5s linear;
}

.ustory-delete-btn {
  left: calc(100% - 2.6rem);
  transform: rotate(10deg);
}

.ustory-setting-btn {
  top: 1.35rem;
  left: calc(100% - 15.6rem);
}

.ustory-btn.ustory-title-btn:hover,
.ustory-btn.ustory-delete-btn:hover,
.ustory-btn.ustory-setting-btn:hover {
  scale: 1.1;
  transition: all 0.5s linear;
  background-color: black;
  z-index: 1;
}

.ustory-btn.ustory-delete-btn:hover {
  color: red;
  border-color: red;
  z-index: 1;
}


.carousel {
  --story-wrapping-border: 0.3rem;
  /* --carousel-height: 20rem; */
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  border: var(--story-wrapping-border) solid var(--medium-color);
  border-radius: var(--soft-radius);
  padding-bottom: -1rem;
}

.carousel.small {
  --carousel-height: 15rem;
}
.carousel.medium {
  --carousel-height: 20rem;
}
.carousel.large {
  --carousel-height: 30rem;
}

.ustory-photo-container {
  position: relative;
  height: var(--carousel-height);
}

.ustory-img {
  height: var(--carousel-height);
  min-width: 10rem; /* so that the setting icons have enough space */
  object-fit: cover;
}

.ustory-img:focus {
  transform: scale(1.1);
}

/* sdfs */
.ustory-photo-container::before {
  content: attr(data-img);
  position: absolute;
  display: block;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1rem;
  color: var(--white-color);
  background-color: var(--transfluent-background-color);
  border-radius: var(--soft-radius);
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem 0;
  opacity: 0;
  transition: all 0.5s linear;
}

.ustory-photo-container.on-setting::before {
  top: 2.2rem;
  opacity: 0.5;
  transition: all 0.5s linear;
}

.ustory-photo-container.show-title::before {
  opacity: 1;
}

.ustory-photo-container.show-on-hover:hover::before {
  opacity: 1;
  transition: 300ms all 200ms linear;
}

.story-photo-icons-wrap {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin: 0.1rem 0.8rem 0 0.3rem;
}

.story-photo-icons-wrap svg {
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.story-photo-icons-wrap svg:hover {
  scale: 1.25;
  transition: 150ms scale 100ms ease-in-out;
}

.delete-icon {
  fill: rgb(128, 128, 128);
}
.delete-icon:hover {
  fill: red;
  transition: 150ms fill 100ms ease-in-out;
}
